@font-face {
    font-family: "junicode";
    src: url("./assets/fonts/Junicode.ttf") format("ttf"),
        url("./assets/fonts/Junicode-Bold.ttf") format("ttf"),
        url("./assets/Junicode-BoldItalic.ttf") format("ttf"),
        url("./assets/Junicode-Italic.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

:root {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    font-family: "Bricolage Grotesque", sans-serif;
    color: #201a13;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
